<div class="col-xs-4 col-sm-4 col-md-4">
    <form>
        <div class="form-group kz-form-value">
          <label for="value">Descubra os mutiplos de qualquer número</label>
          <input type="number" class="form-control" id="value" placeholder="Insira um valor">
        </div>
         <button type="submit" class="btn btn-primary">Gerar Tabuada</button>
    </form>
    <div class="col-xs-9">
      <input
          type="text"
          class="form-control text-right kz-input-table"
          id="table"
          name="table"
          [value]="table"
          readonly>
  </div>
    
</div>
